.board {
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #FFE345
}

.card {
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: pink;
}