{% extends "layout.html" %} {% block body %} {{ super() }}

<body>
	<div class="container-fluid">
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<form>
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">New Board</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="boardTitle">Board Title:</label>
								<input type="text" class="form-control" id="boardTitle" autofocus="autofocus">
							</div>
						</div>
						<div class="modal-footer">
							<center>
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button type="submit" id="add_new_board" class="btn btn-success" data-dismiss="modal">Save</button>
							</center>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br>
		<br>
		<div class="row divBoard">
			<div class="col-sm-3">
				<a href="#">
					<div class="col-sm-12 board create" data-toggle="modal" data-target="#myModal">
						<img class="add" src="http://downloadicons.net/sites/default/files/add-icon-76240.png" height="75%" alt="+">
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
{% endblock %}